<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  	<h1 class="page-header">Tarifas de ARESEP</h1>
	
	<form class="form-inline">
	  <div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Seleccione la ruta
		 <span class="caret"></span></button>
		 <ul class="dropdown-menu">
		    <li ng-repeat="ruta in rutas"><a ng-click="dropboxitemselected(ruta.idRuta)">{{ ruta.idRuta }}</a></li>
		</ul>
</div>
	  <div class="form-group">
		<label class="sr-only">Ruta</label>
		<p class="form-control-static"> Numero de ruta: </p>
	  </div>
	  
	  <div class="form-group">
		<label for="txtNumRuta" class="sr-only">IDRuta</label>
		<input type="number" class="form-control" id="txtNumRuta" placeholder="Numero de ruta" maxlength="4" ng-model="formData.idRuta">
	  </div>
	  
	  <div class="form-group">
		<label class="sr-only">Nombre</label>
		<p class="form-control-static"> Nombre: </p>
	  </div>
	  
	  <div class="form-group">
		<label for="txtNombre" class="sr-only">NombreRuta</label>
		<input type="text" class="form-control" id="txtNombre" placeholder="Nombre de la ruta" maxlength="49" ng-model="formData.nombre">
	  </div>
	  <button type="submit" class="btn btn-default btn-success" ng-click="crearRuta()">Agregar</button>
	</form>
    <table class="table">
		<thead>
	        <tr>
	          <th>Numero de Ruta</th>
	          <th>Nombre</th>
			  <th></th>
	        </tr>
      	</thead>
	  	<tbody ng-repeat="todo in todos">
        	<tr>
				<td>
					{{ todo.descripcion }} 
				</td>
				<td>
					{{ todo.precio }} 
				</td>
				<td>
					<button type="button" class="btn btn-default btn-lg btn-danger" ng-click="borrarRuta(todo.idRuta)">
					  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
	  	</tbody>
	</table>
</div>